<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="isLoading" style="text-align: center; padding-top: 20px;">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let product of products" [routerLink]="['/tabs/tab2', product.id]" detail="true">
      <ion-thumbnail slot="start">
        <img [src]="product.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.title }}</h2>
        <p>{{ product.price | currency:'BRL' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>